<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="asp.net 5 nightly builds" value="https://www.myget.org/F/aspnetvnext/api/v2"/>
    <add key="asp.net 5 curated feeds" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/"/>
    <!--<add key="Enkon" value="\\enkonvic-fs3\Software\VS2015Nuggets"/>
    <add key="Enkon - Debug" value="\\enkonvic-fs3\Software\VS2015Nuggets\Debug"/>-->
  </packageSources>
</configuration>
